/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P
             &mt LSHFT A   &mt LCTRL S   &mt LALT D    &mt LMETA F   &kp G             &kp H         &mt RMETA J   &mt RCTRL K   &mt RALT L    &mt RMETA TAB
             &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH
        // ╰─────────────┴─────────────╮                                                                                       ╭─────────────┴─────────────╯
                                         &sl 2         &kp ESC       &kp SPACE         &kp RETURN    &kp BSPC      &tog 1
        //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
               
            >;
        };

        num_layer {
            label = "Num";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp F1        &none         &kp UP        &none         &kp F4            &kp F7        &kp N1        &kp N2        &kp N3        &kp F10
             &kp F2        &kp LEFT      &kp DOWN      &kp RIGHT     &kp F5            &kp F8        &kp N4        &kp N5        &kp N6        &kp F11
             &kp F3        &none         &none         &none         &kp F6            &kp F9        &kp N7        &kp N8        &kp N9        &kp F12
        // ╰─────────────┴─────────────╮                                                                                       ╭─────────────┴─────────────╯
                                         &trans        &trans        &trans            &trans        &trans         &trans
        //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        sym_layer {
            label = "Sym";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp EXCL      &kp AT        &kp POUND     &kp DLLR      &kp PRCNT         &kp CARET     &kp AMPS      &kp STAR      &kp MINUS     &kp PLUS
             &kp LPAR      &kp RPAR      &kp LBKT      &kp RBKT      &kp SQT           &kp DQT       &kp LBRC      &kp RBRC      &kp LT        &kp GT
             &kp TILDE     &none         &kp UNDER     &kp EQUAL     &kp GRAVE         &none         &kp COLON     &kp SEMI      &kp PIPE      &kp BSLH
        // ╰─────────────┴─────────────╮                                                                                       ╭─────────────┴─────────────╯
                                         &trans        &trans        &trans            &trans        &trans        &trans
        //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};
